.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    background-color: #051120;
}
.social span{
    font-size: 2rem;
    margin: 1rem;
}
.info span{
    font-size: 0.8rem;
    margin: 0.5rem;
}
.policy span{
    font-size: 0.8rem;
    margin: 0.5rem;
}
.copyright span{
    font-size: 0.8rem;
    margin: 0.5rem;
}