* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #1971c2;
  --main-tint-1: #a5d8ff;
  --main-tint-2: #1c7ed6;

  --main-shade-1: #1864ab;

  --grey-main: #555;

  --grey-shade-1: #333;
}

html {
  font-size: 62.5%;

  overflow-x: hidden;
}

body {
  color: var(--grey-main);
  line-height: 1;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100vh;
}

/* **************** */
/* REUSABLE STYLES */
/* **************** */

.container-primary {
  margin: 1rem;
}

.button {
  border: none;
  padding: 0.8rem 1.2rem;

  font-weight: 700;
  border-radius: 15px;
}

.button--primary {
  background-color: var(--main-tint-2);
  color: #fff;
}

.button--log-menu {
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-bottom-md {
  margin-bottom: 2.4rem;
}

.input-element,
select {
  border: none;
  outline: none;
  padding: 0.8rem 1.2rem;

  font-weight: 700;
  border-radius: 15px;

  box-shadow: inset 0 0 0 2px var(--main-tint-2);
  background-color: #fff;
}
