.cart-button {
    display: flex;
    flex-direction: row;
    width: 10rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 0.6rem 0;
    border: none;
}

span img {
    width: 20px;
    height: 20px;
}

.cart-btn-heading {
    padding: 0 1rem;
    font-size: large;
    font-weight: bold;
}

.cart-total {
    border-radius: 15px;
    background-color: white;
    color: #5298E6;
    padding: 0 8px;
}


.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
