.mealItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(87, 87, 89);
  color: rgb(217, 214, 214);
  list-style: none;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 5px;
}
.cart {
  padding-left: 0;
  margin-bottom: 0;
}
.cartSummary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.mealInfo{
  display: flex;
  flex-direction: column;
}
.cartTotal {
  display: flex;
  flex-direction: column;
}
.mealTotal {
  display: flex;
  flex-direction: column;
}
.cartButton {
  display: flex;
  margin: 0 0 0 0.5rem;
}
.cartCloseButton {
  border-radius: 5px;
  padding: 5px;
  margin: 0.5rem;
}
.cartOrderButton {
  border-radius: 5px;
  padding: 5px;
  margin: 0.5rem;
}
.mealItemQuantityTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantityButton{
  padding: 0 5px;
  border-radius: 4px;
  border: none;
  margin: 0 4px;
}
.quantityButton:hover{
  color: white;
  background-color: #403a3a;

}