.expense_item__container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(170, 145, 117);
    border-radius: 10px;
    margin: 1rem 0;
    align-items: center;
    font-size: 1.5rem;
    border: 3px solid rgb(160, 151, 151);
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.2)

}

.expense_item__title {
    background-color: rgb(48, 35, 59);
    color: #FFF;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid rgb(248, 248, 248);

}

.expense_item__amount {
    background-color: rgb(48, 35, 59);
    color: #FFF;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid rgb(248, 248, 248);
}

.expense_item__list{
    list-style: none;
    
}