/* .expense_form__container{
    background-color: #FFE2C8;
    margin: 0 15rem;
    padding: 1rem;
}

.expense_form{
    display: flex;
    justify-content: center;
    
}
.expense_form__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.expense_form__label{
    padding: 0 2px;
    font-size: 1.5rem;
}

.expense_form__input{
    padding: 10px;
    
}

.btn_submit:hover{
    color: rgb(61, 46, 46);
    background-color: aqua;
} */

.expense_form__container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.expense_form{
    display: flex;
    align-content: center;
    justify-content: center;
    
}