.task_container {
    margin: 0 10rem;
    padding: 0.7rem;
    list-style: none;
}

.task_item__container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-content: center;
    background-color: #ac0e77;
    color: white;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .task_container {
        margin: 1rem 5rem;
    }
}

@media screen and (max-width: 500px) {
    .task_container {
        margin: 0rem;
    }
}
