.sidebar{
    background-color: #0E65A1;
    height: 100vh;
    position: sticky; 
    padding-top: 3rem;
}
.dashboardContent{
    background-color: #FEFEFE;
}
.actionButtons{
    background-color: transparent;
    border: none;
    border-left: 8px solid #98a6b0;
    padding-left: 3rem;   
    margin-top: 5px;
    color: #b3c2cd;
    transition: 1s;
}

.actionButtons:hover{
    background-color: transparent;
    border: none;
    border-left: 8px solid #EBF2F7;
    padding-left: 3rem;   
    margin-top: 5px;
    color: #EBF2F7;
}