.user_list__container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 2em 5rem 0 5rem;
    list-style: none;
    border-radius: 2rem;
    padding: 1rem;
    color: #7f6666;
}