.user_list__item {
    padding: 1rem;
}

.user_list__container {
    padding: 1rem;
    margin: 1rem 2rem 1rem 2rem;
    display: flex;

    background-color: antiquewhite;
    border-radius: 1rem;
}
