.task_item__container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-content: center;
    background-color: #ac0e77;
}
h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .task_item__container {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .task_item__container {
        display: flex;
        margin: 10px;
    }
}
